h1
{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
    color:black;
    font-size: small;
}
h3{

}
img{
    width: 100px;height: 100px;
}
